Flask==0.10.1
https://github.com/tusharbabbar/flask-login/archive/master.zip
Flask-RESTful==0.3.0
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
Pillow==2.6.1
SQLAlchemy==0.9.8
Werkzeug==0.9.6
amqp==1.4.6
aniso8601==0.90
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.19
boto==2.34.0
celery==3.1.17
facebook-sdk==0.4.0
gdata==2.0.18
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.1.1
httplib2==0.9
itsdangerous==0.24
jsonpickle==0.7.0
kombu==3.0.24
oauth2client==1.4.5
oauthlib==0.7.2
pyasn1==0.1.7
pyasn1-modules==0.0.5
python-twitter==2.0
pytz==2014.10
qtfaststart==1.8
raygun4py==2.1.0
redis==2.10.3
requests==2.5.0
requests-oauthlib==0.4.2
rsa==3.1.4
simplejson==3.6.5
six==1.8.0
uritemplate==0.6
wsgiref==0.1.2
